.info-react-control-wrapper {
  display: flex;
  padding: 0 10px;
  align-items: center; }
  .info-react-control-wrapper .control-live {
    width: 60px; }
  .info-react-control-wrapper .control-timeline {
    flex: 1; }

.enebular-component-react-modal {
  background-color: #fff;
  z-index: 1001;
  outline: none;
  width: 500px;
  margin: 0 auto;
  top: calc(50% - 300px);
  height: 600px;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 3px; }
  .enebular-component-react-modal .modal-content {
    padding: 20px;
    height: 100%; }

.enebular-component-react-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000; }

.enebular-editor-form-control {
  text-align: right; }

.enebular-component-react-modal-filter {
  background-color: #fff;
  z-index: 1001;
  outline: none;
  width: 500px;
  margin: 0 auto;
  top: calc(50% - 300px);
  height: 700px;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 3px; }
  .enebular-component-react-modal-filter .enebular-filter-graph-wrapper {
    height: calc(100% - 30px); }
  .enebular-component-react-modal-filter .enebular-filter-list {
    overflow: auto;
    max-height: 485px; }
  .enebular-component-react-modal-filter .enebular-filters {
    height: 100%;
    position: relative; }
  .enebular-component-react-modal-filter .ui-filter-btn-group {
    bottom: 0;
    right: 0;
    position: absolute; }
  .enebular-component-react-modal-filter .modal-content {
    padding: 20px;
    height: 100%; }

.filter-infomotion-tool .dash-filter-modal .enebular-filter-graph-wrapper {
  height: calc(100% - 60px); }

.filter-infomotion-tool .dash-filter-modal .enebular-filters {
  height: 100%;
  position: relative; }

.filter-infomotion-tool .dash-filter-modal .ui-filter-btn-group {
  bottom: 0;
  right: 0;
  position: absolute; }

.filter-infomotion-tool .dash-filter-values {
  display: flex;
  flex-wrap: wrap; }

.filter-infomotion-tool .dash-filter-values .filter-value {
  width: 50%;
  padding: 5px;
  align-items: center;
  display: flex; }

.filter-infomotion-tool .dash-filter-wrapper {
  overflow: auto;
  margin-top: 10px; }

.filter-infomotion-tool .label-blue-filter {
  background-color: #3897f0 !important;
  border-color: #3897f0 !important;
  color: #fff !important; }

.filter-infomotion-tool .label-filter {
  cursor: pointer;
  font-size: .7rem;
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14em;
  background-color: #e8e8e8;
  background-image: none;
  padding: 6px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: 400;
  border: 0 solid transparent;
  border-radius: 3px;
  -webkit-transition: background .1s ease;
  transition: background .1s ease; }

.filter-infomotion-tool .form-add-new-filter {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px 15px;
  margin-bottom: 10px; }

.filter-infomotion-tool .list-filter {
  overflow: auto;
  max-height: 290px; }

.filter-infomotion-tool .list-filter .list-filter-item {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex; }

.filter-infomotion-tool .list-filter .list-filter-item .filter-content {
  flex: 1; }

.filter-infomotion-tool .form-add-new-filter {
  margin-top: 10px; }
  .filter-infomotion-tool .form-add-new-filter .filter-tag {
    margin-top: 5px; }
  .filter-infomotion-tool .form-add-new-filter .filter-remove {
    margin-left: 5px; }
  .filter-infomotion-tool .form-add-new-filter .filter-input {
    margin-top: 5px; }
